<div class="container">
    <p class="movie-path"><%= link_to @movie.title, movies_path(@movie) %></p>
     <div class="col-lg-6">
      <img class="img-poster" src="<%= @movie.poster_url %>" >
     </div>
     <h5 class="card-title"><%= @movie.title %></h5>
    <div class="card-body">
      <p class="card-text">Overview: <%= @movie.overview %></p>
      <p class="card-text">Rating: <%= @movie.rating %></p>
    </div>
</div>
